!.gitignore
*.pyc
*.class
*.swp
*.o
*.lo
*.obj
*.test
*.out
.glide/
tags
ts_*
test_env/
obj/
build/
leopardlib/
*.code-workspace

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode Workspace
*.code-workspace

.vscode/c_cpp_properties.json
.vscode/settings.json
